<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBUSER" value="sa" /> 
		<add key="DBPASSWORD" value="" /> 
		<add key="CONTROLSERVER" value="sql2005" /> 
		<add key="CONTROLDATABASE" value="Control" /> 
		<add key="WorkingStatus" value="A" /> 
		<add key="ProcessRecords" value="3000" /> 
	</appSettings> 
</configuration>
